<main class="contenedor">
  <form class="default-form" method="POST">
    <div class="campo">
      <label for="">Nuevo Password</label>
      <input
        type="password"
        name="password"
        placeholder="Tu Password"
        required
      />
    </div>

    <div class="campo">
      <input type="submit" value="Guardar Password" class="btn btn-azul" />
    </div>
  </form>
</main>