<main class="contenedor">
  <form action="/reestablecer-password" class="default-form" method="POST">
    <div class="campo">
      <label for="">E-mail</label>
      <input type="email" name="email" placeholder="Tu Email" required />
    </div>

    <div class="campo acciones">
      <a href="/iniciar-sesion">Volver a Iniciar Sesión</a>
    </div>
    <div class="campo">
      <input type="submit" value="Reestablecer Password" class="btn btn-azul" />
    </div>
  </form>
</main>